@model List<QuanAoTreEm.Models.AddressModel>
@{
    ViewBag.Title = "Adress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper" style="background-color: #f5f5fa;padding: 20px; height: 100vh">
    <h2>Sổ địa chỉ</h2>
    <a href="@Url.Action("AddAddress","Account")" style="display:block;width: 100%; padding: 10px; background: white; border: 0; border-radius: 5px; text-decoration: none; color: blue; text-align: center">Thêm địa chỉ mới</a>

    @foreach (var item in Model)
    {
        <div class="d-flex mt-3" style="background: white; border-radius: 5px; height: fit-content; padding: 10px 20px">
            <div class="flex-grow-1">
                <h6>@item.fullname</h6>
                <p><span>@item.address, @item.ward, @item.district, @item.province</span></p>
                <p><span>@item.phoneNumber</span></p>
            </div>
            <div class="action">
                <a href="@Url.Action("UpdateAddress", "Account", new {addressID = @item}.addressID)" style="color: blue; margin-right: 5px">Chỉnh sửa</a>
                <a href="@Url.Action("DeleteAddress", "Account", new {addressID = @item}.addressID)" style="color: red">Xoá</a>
            </div>
        </div>
    }
</div>



