
@{
    ViewBag.Title = "UpdateAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var provinces = ViewBag.provinces as List<QuanAoTreEm.Models.province>;
}
@model QuanAoTreEm.Models.AddressModel
<h2>Cập nhật địa chỉ</h2>

<form action="@Url.Action("UpdateAddress", "Account", new { addressID = @Model.addressID })" method="post" class="bg-white" style="border-radius: 15px; padding: 20px">
    <div class="mb-3 row">
        <label for="fullname" class="col-sm-2 col-form-label">Họ và tên</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fullname" name="fullname" value="@Model.fullname" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="phoneNumber" class="col-sm-2 col-form-label">Số điện thoại</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="@Model.phoneNumber" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="province" class="col-sm-2 col-form-label">Tỉnh/Thành phố</label>
        <div class="col-sm-10">
            <select class="form-control" id="province" name="province" placeholder="Nhập để tìm kiếm" required onchange="loadDistricts()">
                @foreach (var province in provinces)
                {
                    <option @(province.name == Model.province ? "selected" : "") value="@province.code">@province.name</option>
                }
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        @Html.Action("GetDistricts", "Account")
    </div>
    <div class="mb-3 row">
        @Html.Action("GetWards", "Account")
    </div>
    <div class="mb-3 row">
        <label for="address" class="col-sm-2 col-form-label">Địa chỉ</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="address" rows="3" placeholder="Nhập địa chỉ" name="address">@Model.address</textarea>
        </div>
    </div>
    <div class="mb-3 row">
        <span style="visibility: hidden" class="col-sm-2"></span>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="text-decoration: none; color: white; padding: 5px 70px">Lưu</button>
        </div>
    </div>

</form>


<script>
    function loadDistricts() {
        var locationCode = document.getElementById("province").value;
        var districtsContainer = document.getElementById("district");
        var districtDropdown = document.getElementById("district");

        if (locationCode) {
            // Load districts
            fetch('/Account/GetDistricts?locationCode=' + locationCode)
                .then(response => response.text())
                .then(data => {
                    districtsContainer.innerHTML = data;
                    districtDropdown.removeAttribute('disabled');
                });
        }
    }

    function loadWards() {
        var districtCode = document.getElementById("district").value;
        var wardsContainer = document.getElementById("ward");
        var wardDropdown = document.getElementById("ward");

        if (districtCode) {
            // Load wards
            fetch('/Account/GetWards?districtCode=' + districtCode)
                .then(response => response.text())
                .then(data => {
                    wardsContainer.innerHTML = data;
                    wardDropdown.removeAttribute('disabled');
                });
        }
    }
</script>


