
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<QuanAoTreEm.Models.Order>

<style>
    .order-container:hover {
        cursor: pointer;
    }
</style>
<h2>Đơn hàng của tôi</h2>
@foreach (var item in Model)
{
    <a href="@Url.Action("Details", "Order", new { orderID = item.orderID })" class="d-flex flex-column order-container" style="border-radius: 10px; background: white; padding: 0 20px; margin-bottom: 20px; text-decoration: none">
        <span style="border-bottom: 1px solid #ccc; padding: 10px;">@item.orderDate</span>
        @foreach (var order in item.orderList)
        {
            <div class="d-flex" style="gap: 30px; padding: 10px">
                <img src="~/Content/Assets/Images/Product/@order.ImagePath" style="width: 80px; height: 80px; border-radius: 10px" />
                <div class="flex-grow-1">
                    <h6>@order.ProductName</h6>
                </div>
                <span><span>@order.Price</span>đ</span>
            </div>
        }

        <p style="text-align: right; margin-top: 10px; border-top: 1px solid #ccc;">Tổng tiền: <span>@item.total</span>đ</p>
    </a>
}

