
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model List<QuanAoTreEm.Models.CartItem>


<h2>Giỏ hàng</h2>
<div class="m-0 d-flex">
    <div class="d-flex flex-column container align-items-center col-8" style="gap: 15px; padding-top: 0">
        @foreach (var item in Model)
        {
            <div class="d-flex g-3 align-items-center" style="width: 100%;padding: 16px; background-color: white; border-radius: 10px;margin-bottom: 15px">
                <input value="@item.ProductID" type="hidden" name="ProductID" class="hidden-product-id" />
                <div class="me-3"><img style="width:80px; height: 80px; object-fit: cover" src="~/Content/Assets/Images/Product/@item.ImagePath" /></div>
                <div class="flex-grow-1 me-3" style="max-width: 265px">@item.ProductName</div>
                <div class="me-3">@Convert.ToInt32(item.Price)đ</div>
                <div class="me-3" style="min-width: 100px">
                    <div class="input-group">
                        <div class="button-group">
                            <a href="@Url.Action("DecrementQuantity", "Cart", new { productId = item.ProductID })" class="decrement" style="cursor: pointer; text-decoration: none; font-weight: bold; user-select:none">-</a>
                            <input type="text" class="input-value text-center" style="width: 50px; margin: 0 10px" value="@item.Quantity" readonly>
                            <a href="@Url.Action("IncrementQuantity", "Cart", new { productId = item.ProductID })" class="increment" style="cursor: pointer; text-decoration: none; font-weight: bold; user-select: none">+</a>
                        </div>
                    </div>
                </div>
                <div class="me-3 fw-bold" style="color: red">@item.GetPriceByQuantity()đ</div>
                <div class=""><button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash-can"></i></button></div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xoá</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Xác nhận xoá?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                                <a href="@Url.Action("DeleteItem", "Cart", new { productId = item.ProductID })" class="btn btn-primary text-decoration-none">Xoá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4 d-flex flex-column" style="gap: 10px">
        @Html.Action("AddressPartial", "Cart")
        <div class="d-flex bg-white" style="padding: 10px; border-radius: 10px; justify-content: space-between">
            <span style="font-size: 20px;">Tổng tiền</span>
            <div>
                <h5 style="color: red; font-size: 24px">@ViewBag.Sum</h5>
                <p style="color: #ccc">(Đã bao gồm VAT nếu có)</p>
            </div>
        </div>
        <a id="orderLink" href="@Url.Action("Order", "Order", new {address= ""})" class="btn btn-danger" style="text-decoration: none;padding: 10px; text-align: center; width: 100%">Đặt hàng</a>
    </div>
</div>
