
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<QuanAoTreEm.Models.CartItem>
@section scripts {
    <script>
        $(document).ready(function () {
            var quantityInput = $('#quantity');

            $('#increase').on('click', function () {
                var currentValue = parseInt(quantityInput.val(), 10);
                quantityInput.val(currentValue + 1);
            });

            $('#decrease').on('click', function () {
                var currentValue = parseInt(quantityInput.val(), 10);
                if (currentValue > 1) {
                    quantityInput.val(currentValue - 1);
                }
            });
        });
    </script>
}


<h2>Giỏ hàng</h2>
<div class="d-flex flex-column container align-items-center">
    @foreach (var item in Model)
    {

        <div class="row d-flex g-3 align-items-center" style="width: 100%;padding: 16px">
            <div class="col-1 me-3"><img style="width:80px; height: 80px; object-fit: cover" src="~/Content/Assets/Images/Product/@item.ImagePath" /></div>
            <div class="col-3 me-3">@item.ProductName</div>
            <div class="col-1 me-3">@Convert.ToInt32(item.Price)đ</div>
            <div class="col-3 me-3">
                <div class="container">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" style="border-radius: 0" type="button" id="decrease">-</button>
                        <input type="text" class="form-control text-center" style="border-radius: 0" id="quantity" value="@item.Quantity" readonly>
                        <button class="btn btn-outline-secondary" style="border-radius: 0" type="button" id="increase">+</button>
                    </div>
                </div>
            </div>
            <div class="col-1 me-3 fw-bold" style="color: red">@item.GetPriceByQuantity()đ</div>
            <div class="col-1 me-3"><a href="@Url.Action("DeleteItem", "Cart", new { productId = item.ProductID})"><i class="fa-solid fa-trash-can"></i></a></div>
        </div>
    }
</div>